<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Videos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="./images/chalupa.png" />
    <link href="/dist/app.min.css" type="text/css" rel="stylesheet">
</head>

<body>


    <section id="mainContent" class="container">

        <div class="row has-vid">
            <p><u>Video 2</u></p>
          <video src="https://s3.amazonaws.com/canvasmp3/es2015_vid2.mp4" width="80%" controls="true">
      </div>
        <div class="row has-vid">
          <p><u>Video 3</u></p>
      <video src="https://s3.amazonaws.com/canvasmp3/es2015_vid3.mp4" width="80%" controls="true">
          </div>
          <div class="row has-vid">
            <p><u>Video 4</u></p>
      <video src="https://s3.amazonaws.com/canvasmp3/es2015_vid4.mp4" width="80%" controls="true">
      </div>
          <div class="row has-vid">
            <p><u>Video 5</u></p>
      <video src="https://s3.amazonaws.com/canvasmp3/es2015_vid5.mp4" width="80%" controls="true">
          </div>
          <div class="row has-vid">
            <p><u>Video 6</u></p>
      <video src="https://s3.amazonaws.com/canvasmp3/es2015_vid6.mp4" width="80%" controls="true">
          </div>
          <div class="row has-vid">
            <p><u>Video 7</u></p>
      <video src="https://s3.amazonaws.com/canvasmp3/es2015_vid7.mp4" width="80%" controls="true">
          </div>

 </body>


</html>
